*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    font-family: "Rubik", serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    width: 400px;
    min-height: 600px;
    background-color: #01A7C2;
    font-size: 1.5rem;
    padding: 10px;
    border-radius: 10px;
    margin: 20px;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.container > *{
    color: black;
    border-radius: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.button{
    cursor: pointer;
    height: 80px;
    max-width: 80px;

    flex: 1 1 80px;
    background-color: #10FFCB;
}

.display{
    max-width: 380px;
    overflow: hidden;
    text-overflow: ellipsis;
    min-height: 80px;
    font-size: 40px;
    padding: 20px;

    justify-content: end;
    align-items: end;
    flex: 1 1 400px;
}

.zero{
    max-width: 170px;

    flex: 1 1 176px;
}

.clear,
.negative,
.divide{
    background-color: #A3BAC3;
}

.backspace,
.multiply,
.minus,
.add,
.equal{
    background-color: #006989;
}